    

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p><%= source_helper("portfolio") %> </p>
        <p>Copyright G Robertson | 2018 </p>
      </div>
    </footer>