<h1>Contact</h1>

<hr>

<div class="row">
	<div class="col-md-6">
		<p>Call me at <%= number_to_phone "0420867250" %></p>

		<p><%= number_to_currency "150" %></p>

		<p><%= number_to_percentage "80.4" %></p>

		<p><%= number_with_delimiter "344329874928" %></p>

	</div>

	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6513.916885734008!2d149.14245382525704!3d-35.282159471156824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b164d76cb4004ef%3A0x41ef86ae38d42ce6!2sAustralian+War+Memorial!5e0!3m2!1sen!2sau!4v1534421502439" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

