<h1>Pages#contact</h1>
<p>Call me at <%= number_to_phone "0420867250" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "344329874928" %></p>

